.main {
    width: 900px;
    margin-left: 12%;
    margin-top: 4%;
}

.table {
    tr {
        th {
            cursor: pointer;
        }
        td {
            text-align: center !important;
        }
    }
}

.sortBy {
    font-weight: bold;
    font-size: 18px;
}