<div class="main">
    <p class="sortBy"> Sort by First Name , Last Name and Email</p>
    <table style="width:100%" border="1" align="center">
        <tr>
            <th>Photo</th>
            <th (click)="sort('first_name')">Firstname</th>
            <th (click)="sort('last_name')">Lastname</th>
            <th (click)="sort('email')">Email</th>
        </tr>
        <tr *ngFor="let user of users;">
            <td><img src="{{user?.avatar}}" width="80"></td>
            <td>{{user?.first_name}}</td>
            <td>{{user?.last_name}}</td>
            <td>{{user?.email}}</td>
        </tr>
    </table>
</div>